.Display {
    display: flex;
    height: 18.75vh;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    font-size: 3vh;
    background-color: rgb(224, 224, 224);
}
.text :hover {
    margin-right: 1vw;
}